.bg {
  width: 100%;
}

.bgcollegeshade {
  height: 100%;
  width: 100%;
}

.home-main {
  padding: 50px;
}

@media(max-width:500px) {
  .home-main {
    padding: 40px 12px;
  }
}

h1 {
  font-family: var(--font-poppins-extrabold);
}

#btn-college {
  box-shadow: 3px 4px 18px 1px var(--color-cta);
}

.bgshade {
  padding: 0px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-7px);
  }
}

#college-contain {
  animation: float 8s ease-in-out infinite;
}

.active {
  color: var(--color-link);
  border-bottom: 3px solid var(--color-link);
}