.shade {
  @apply bg-[#00000050]
}

@font-face {
  font-family: 'ExtraBold';
  src: url('./assets/AdmeasyFonts/Poppins-ExtraBold.woff2') format('woff2');
  font-weight: bolder;
}

.bg {
  background: url('./assets/CollegesImg/college-bg.webp');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#collegebg {
  background: url('./assets/CollegesImg/Medicap-Road.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: max-content;
  width: 100%;
}

/* @media(min-width:768px){
  #collegebg{
    height: 35rem;
  }
}
@media(min-width:1020px){
  #collegebg{
    height: 25rem;
  }
} */

.bgshadefronthome {
  border-top: 2px solid white;
  height: 100%;
  width: 100%;
}

.bgcollegeshade {
  height: 100%;
  width: 100%;
}

.home-main {
  padding: 50px;
}

@media(max-width:500px) {
  .home-main {
    padding: 40px 12px;
  }
}

h1 {
  font-family: 'ExtraBold', sans-serif;
}

#btn-college {
  box-shadow: 3px 4px 18px 1px red;
}

.bg-shade {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 0px;
  border-radius: 30px;
  display: flex;
  animation: float 6s ease-in-out infinite;
  backdrop-filter: blur(5px);
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-7px);
  }
}

#college-contain {
  padding: 20px;
  animation: float 8s ease-in-out infinite;
}

.college-Card-Container {
  margin-top: 2rem;
}

.c-card {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.521);
  border-radius: 22px;
  padding: 20px;
}

.Cards-container {
  padding: 20px;
}