@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
  /* width of vertical scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000080;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

*{
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
