@import "tailwindcss";
@font-face{
  font-family: 'admeasyFont';
  src: url('./assets/AdmeasyFonts/NationalPark-Regular.woff2') format('woff2')
}

::-webkit-scrollbar {
  width: 8px;
  /* width of vertical scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000080;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8d8d8d;
}

*{
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}
