@font-face {
    font-family: 'Admeasy';
    src: url('../assets/AdmeasyFonts/NationalPark-Regular.woff2') format('woff2');
}

* {
    box-sizing: border-box;
}

.nav-links {
    font-family: 'Admeasy';
}

.active {
    color: rgb(251, 146, 60);
    border-bottom: 3px solid rgb(251, 146, 60);
}

/* body{
    background-color: rgb(219, 246, 255);
} */